extends layout

block content
    header
        h1 Messageboard
        p Add author and message text
    div
        form(action="/new", method="POST")
            label(for="author") Author:
            input(type="text" placeholder="Author's name" name="author" id="author")
            label(for="author") Title:
            input(type="text" placeholder="Title of the message" name="title" id="title")
            label(for="text") Message text:
            textarea(type="text" placeholder="Whatever you want" name="text" id="text" )
            button(type="submit" id="submit-btn") post request

//- <form method="POST" action="/new">
//-    put your inputs and buttons in here!
//- </form>